########################
# Laravel
########################
*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

########################
# Legacy CodeIgniter (application/)
########################
application/libraries/Zend
application/libraries/Zend/*
application/libraries/Doctrine
application/libraries/Doctrine/*
application/libraries/geshi
application/libraries/geshi/*
application/libraries/third_party/*
application/helpers/custom_helper.php
application/logs/*
application/cache/*
application/models/Proxies/*
application/config/config.php
application/config/config_rr.php
application/config/database.php
application/config/email.php
application/config/memcached.php
application/controllers/c/*
application/vendor/*
application/extplugins/*
builder/node_modules/*
builder/bower_components/*
signedmetadata/*
logos/*
